@import url("https://use.typekit.net/faf0wfp.css");

body {
	margin: 0px;
}

h2,
H3,
p {
	font-family: "lores-12", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* -- AMOUNT MENU -- */
#amountMenu {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#playerControl {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* -- NAME MENU -- */
#nameMenu {
	display: none;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#playerNames {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nameInput {
	margin: 10px 0px;
}
#submitNames {
	margin-top: 5px;
}

/* -- PLAYING FIELD -- */
#playingField {
	display: none;
	flex-direction: column;
}

#top,
#bottom {
	width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.player {
	width: 30%;
	height: 100%;
	background-color: green;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cards {
	width: 30%;
	height: 50%;
	background-image: url("./images/0.svg");
	background-repeat: no-repeat;
	background-position: center center;
	margin: 20px 0px;
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
}
.cards p {
	height: 100%;
	margin-top: 77.5px;
}

.hand {
	width: 40%;
	height: 90%;
	background-color: yellow;
}
.playCard {
	width: 30%;
	height: 50%;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 20px 0px;
}

#top .player {
	flex-direction: row-reverse;
}
#top .cards,
#top .hand {
	align-self: flex-start;
}
#bottom .cards,
#bottom .hand {
	align-self: flex-end;
}
#top .playCard {
	bottom: 10%;
	left: 12.5%;
}
#bottom .playCard {
	top: 10%;
	right: 12.5%;
}
