@import url("https://use.typekit.net/faf0wfp.css");

body {
	overflow: hidden;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("./images/background.jpeg");
	background-position: center center;
	background-size: cover;
}

h2,
h3,
p,
label,
:placeholder-shown,
button,
input {
	font-family: "lores-12", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
}
button,
h3,
input {
	cursor: pointer;
}

button,
input[type="submit"] {
	margin-top: 50px;
	background: none;
	border: none;
	font-size: 60px;
}
button:hover,
input[type="submit"]:hover {
	text-decoration: underline;
}
p {
	color: black;
}

/* -- AMOUNT MENU -- */
#amountMenu {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#playerControl {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* -- NAME MENU -- */
#nameMenu {
	display: none;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#playerNames {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nameInput {
	margin: 10px 0px;
}
#submitNames {
	margin-top: 5px;
}

/* -- PLAYING FIELD -- */
#playingField {
	display: none;
	flex-direction: column;
}

#top,
#bottom {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.player {
	width: 30%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cards {
	width: 30%;
	height: 50%;
	background-image: url("./images/0.svg");
	background-repeat: no-repeat;
	background-position: center center;
	margin: 20px 0px;
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
}
.cards p {
	height: 100%;
	margin-top: 77.5px;
}

.hand {
	width: 40%;
	height: 400px;
	background-size: cover;
	z-index: 99;
}
.hand.playHand {
	background-image: url("./images/handBottom.svg");
	animation-name: playBottom;
	animation-duration: 2s;
	animation-iteration-count: 1;
}
#top .hand.hand.playHand {
	transform: scaleY(-1);
	background-image: url("./images/handTop.svg");
	animation-name: playTop;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

.playCard {
	width: 30%;
	height: 50%;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 20px 0px;
}

#top .player {
	flex-direction: row-reverse;
}
#top .cards,
#top .hand {
	align-self: flex-start;
}
#bottom .cards,
#bottom .hand {
	align-self: flex-end;
}
#top .playCard {
	bottom: 10%;
	left: 12.5%;
}
#bottom .playCard {
	top: 10%;
	right: 12.5%;
}

.winner {
	animation-name: winner;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}
/* #top .playCard.winner {
	margin: -5px;
}
#bottom .playCard.winner {
	margin: -5px;
} */

@keyframes winner {
	0% {
		background-color: goldenrod;
	}
	100% {
		background-color: none;
	}
}

@keyframes playBottom {
	0% {
		transform: translateY(100vh);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100vh);
	}
}
@keyframes playTop {
	0% {
		transform: translateY(-100vh);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100vh);
	}
}
